.btn {
  box-sizing: border-box;
  /* height: 5vh; */
  width: 33vh;
  align-content: center;
  justify-items: center;
  left: 0px;
  top: 0px;
  background: #ffd124;
  border: 1px solid #000000;
  color: #000000;
  font-weight: bold;
  border-radius: 10px;
  padding: 2px;
}

.datePicker {
  /* font-weight: bold; */
  background-color: #f7f7faa0;
  border: 1px solid #a0979770;
  border-radius: 3px;
  width: 275px;
  padding-top: 16px;
  padding-left: 6px;
  padding-bottom: 16px;
  margin-bottom: 14px;
}

.btn:hover {
  background: #fff124;
  color: #000000;
}

.formText {
  font-family: "Segoe UI";
  font-weight: 400;
  font-size: 15px;
}

.textBox {
  background-color: #f7f7faa0;
  border: 1px solid #a0979770;
  border-radius: 3px;
  width: 275px;
  padding-top: 16px;
  padding-left: 6px;
  padding-bottom: 16px;
  margin-bottom: 14px;
}

.error {
  color: #ff0000;
  margin-left: 5px;
  margin-top: -8px;
  margin-bottom: 5px;
  font-size: 1rem;
  line-height: 1;
}
